@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Balthazar", serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel", serif;
  }
}

body {
  @apply antialiased;
}

.balthazar-regular {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-company-name {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}